body,html,h3,ul,li,section,p,div{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
    width: 100%;
}
#mf3a1ecf95f2c3f438db4c3e92a9e43aa156e1{
   display:none !important;
}
*{
    box-sizing: border-box;
}
.no-mode-translate-fade-enter-active, .no-mode-translate-fade-leave-active {
  transition: all 0.8s;
}
.no-mode-translate-fade-enter, .no-mode-translate-fade-leave-active {
  opacity: 0;
}
.no-mode-translate-fade-enter {
  transform: translateY(31px);
}
.no-mode-translate-fade-leave-active {
  transform: translateY(0);
}
.fade-nav-enter-active, .fade-nav-leave-active {
  transition: all 0.5s;
}
.fade-nav-enter, .fade-nav-leave-active {
  opacity: 0;
}
.fade-nav-enter {
  transform: translateX(-31px);
}
.fade-nav-leave-active {
  transform: translateX(0);
}
body{
    font-family: "Microsoft Yahei";
    font-size: 14px;
    width: 100%;
}
.range{
    height: 100%;
    width: 100%;
    position: relative;
}
.header{
    height: 60px;
    width: 100%;
    box-sizing: border-box;
    line-height: 60px;
    color: #E9F6FD;
    padding-left: 70px;
    text-align: left;
    /* background-color: #FDFDFD; */
    background: linear-gradient(120deg, #011830, #236d9c);
    position: relative;
    border-bottom: 1px solid #E8E8E8;
}
.header.active{
    background-color: rgb(62, 171, 195);
}
.header.active .btn_logo{
    color: #fff;
}
.header i{
    font-style: normal;
    display: inline-block;
    color: #ffffff;
    font-size: 20px;
}
.header img{
    display: block;
    width: 48px;
    height: 48px;
    position: absolute;
    top: 50%;
    margin-top: -24px;
    left: 12px;
    z-index: 200;
}
.header .logo img{
    animation: change 5s linear infinite;
    -webkit-animation: change 5s linear infinite;
    animation-play-state: paused;
    -webkit-animation-play-state: paused;
}
.header .logo img:hover{
    animation-play-state: running;
    -webkit-animation-play-state: running;
}
@keyframes change{
    from{-webkit-transform:rotate(0);transform:rotate(0)}
    to{-webkit-transform:rotate(360deg);transform:rotate(360deg)}
}
#app {
  font-family: 'Microsoft Yahei';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  box-sizing: border-box;

}
.main_content{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    background-color: #F8F8F8;
    position: absolute;
    top: 60px;
    left: 200px;
    padding: 0 15px;
}
.main-mod-con{
    list-style: none;
    float: left;
    width: auto;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #093250;
    background-color: #fff;
    transition: .4s all;
    margin: 6px 6px;
    cursor: pointer;
}
.main-mod-con a{
    display: block;
    padding: 8px 12px;
    color: #333;
    margin: 0 5px;
    text-decoration: none;
}
.main-mod-con:hover{
    box-shadow: 0 0 6px 1px #246a9a;
    transform: translateY(-2px);
}
.main-mod-con:hover a{
    color: #303F9F;
}
.design{
    font-size: 14px;
    position: relative;
    padding-left: 8px;
    color: #333;
    font-weight: bold;
    text-align: left;
}
.design:before{
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    content: '';
    width: 4px;
    height: 16px;
    background-color: #093250;
}
.main-mod{
    width: 100%;
    padding: 14px 10px 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 15px;
}
.main-wraper{
    margin-top: 15px;
}
.main-wraper:after{
    content: '';
    display: block;
    overflow: hidden;
    clear: both;
}